body{
  display: flex;
  margin-top: 0px;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.slider {
  position: relative;
  z-index: 1;
  height: 5px;
  margin: 0px 15px;
}
.track {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 5px;
  background-color: #c6aee7;
  width: 100%;
}
.range {
  position: absolute;
  z-index: 2;
  left: 25%;
  right: 25%;
  top: 0;
  bottom: 0;
  border-radius: 5px;
  background-color: #6200ee;
}
.thumb {
  position: absolute;
  z-index: 3;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #6200ee;
  top: 5px;
}
.thumb.left {
  transform: translate(-8px, -12px);
}
.thumb.right {
  transform: translate(15px, -12px);
}

input[type="range"] {
  position: absolute;
  pointer-events: none;
  z-index: 2;
  height: 10px;
  width: 100%;
  -webkit-appearance: none;
  opacity: 0;
}

input[type="range"]::-webkit-slider-thumb {
  pointer-events: all;
  width: 30px;
  height: 30px;
  border-radius: 0;
  border:  0px none;
  background-color: red;
  -webkit-appearance: none;
}

.text{
  position: absolute;
  background-color: #6200ee;
  padding: 5px;
  border-radius: 10px 10px 0px 10px ;
  top: -30px;
  color: #fff;
  font-size: 10px;
}
.text.left{
  transform: translate(-50px,0px);
}

.scale{
  position: absolute;
  left: 0px;
  width: 100%;
  font-size: 10px;
  & span{
    position: absolute;
    top: 20px;
    cursor: pointer;
  }
  :nth-child(2){
    left: 25%;
  }
  :nth-child(3){
    left: 50%;
  }
  :nth-child(4){
    left: 75%;
  }
  :nth-child(5){
    left: 100%;
  }
}
