doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js")  

    title Document  
  body
    include ../demoPage/sliderPanel.pug
     +panel('sliderN1',true)
     //+panel('sliderN2',true)
    //-  +panel('sliderN3')
    
     