doctype html
html
  head
    meta(charset = 'utf-8')
    meta(name='viewport' content="initial-scale=1.0, width=device-width")
    title slider
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    link(rel="apple-touch-icon" sizes="180x180" href="./favicons/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="./favicons/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="./favicons/favicon-16x16.png")
    link(rel="manifest" href="./favicons/site.webmanifest")
    link(rel="mask-icon" href="./favicons/safari-pinned-tab.svg" color="#5bbad5")
    meta(name="msapplication-TileColor" content="#da532c")
    meta(name="theme-color" content="#ffffff")
  body
    div.wrapper
      include ../components/demo-page/demo-page.pug
      +demo-page()
      +demo-page({
        columnNumber : [
          {value:-10,text:'Min value:',dataName:'min'},
          {value:10,text:'Max value:',dataName:'max'},
          {value:1,text:'Step value:',dataName:'step'},
          {value:0,text:'Left value:',dataName:'valueLeft'},
          {value:10,text:'Right value:',dataName:'valueRight'},
        ],
        columnCheckbox : [
          {isChecked:true,text:'Label:',dataName:'isLabel'},
          {isChecked:true,text:'Scale:',dataName:'isScale'},
          {isChecked:true,text:'Double:',dataName:'isDouble'},
          {isChecked:false,text:'Vertical:',dataName:'isVertical',isDisabled:true},
        ]
      })
      +demo-page({
        columnNumber : [
          {value:0,text:'Min value:',dataName:'min'},
          {value:100,text:'Max value:',dataName:'max'},
          {value:1,text:'Step value:',dataName:'step'},
          {value:0 ,text:'Left value:',dataName:'valueLeft'},
          {value:100,text:'Right value:',dataName:'valueRight'},
        ],
        columnCheckbox : [
          {isChecked:true,text:'Label:',dataName:'isLabel'},
          {isChecked:true,text:'Scale:',dataName:'isScale'},
          {isChecked:true,text:'Double:',dataName:'isDouble'},
          {isChecked:true,text:'Vertical:',dataName:'isVertical'},
        ]
      })
