doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js")  
    title pluginRange  
  body
    include ../demo-page/slider-panel.pug
     +panel()
     +panel({
      className:'sliderN2',
      leftList : [
        {value:100,text:'Min value:',dataName:'min'},
        {value:500,text:'Max value:',dataName:'max'},
        {value:1,text:'Step value:',dataName:'step'},
        {value:100,text:'Left value:',dataName:'valueLeft'},
        {value:300,text:'Right value:',dataName:'valueRight'},
      ],
      rightList : [
        {isChecked:true,text:'Label:',dataName:'isLabel'},
        {isChecked:true,text:'Scale:',dataName:'isScale'},
        {isChecked:true,text:'Double:',dataName:'isDouble'},
        {isChecked:false,text:'Vertical:',dataName:'isVertical'},
      ]
     })
     +panel({
      className:'sliderN3',
      leftList : [
        {value:0,text:'Min value:',dataName:'min'},
        {value:100,text:'Max value:',dataName:'max'},
        {value:1,text:'Step value:',dataName:'step'},
        {value:25,text:'Left value:',dataName:'valueLeft'},
        {value:75,text:'Right value:',dataName:'valueRight'},
      ],
      rightList : [
        {isChecked:true,text:'Label:',dataName:'isLabel'},
        {isChecked:true,text:'Scale:',dataName:'isScale'},
        {isChecked:true,text:'Double:',dataName:'isDouble'},
        {isChecked:true,text:'Vertical:',dataName:'isVertical'},
      ]
     })