.demo-page {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  margin: 100px auto;
  border: 1px solid black;

  &__head {
    height: 320px;
    position: relative;
  }
  &__plugin {
    position: absolute;
    bottom: 0;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    background-color: aqua;
  }

  &__item {
    flex: 0 1 50%;
  }

}
