.demo-page {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  margin: 100px auto;
  background-color: aqua;
  &:nth-child(2){
    margin-bottom: 300px;
  }
  &__items {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    flex: 0 1 50%;
  }
}