include ../data-input/data-input.pug

mixin demo-page(options = {})
  - 
    const { 
      columnNumber = [
        {value:0,text:'Min value:',dataName:'min'},
        {value:100,text:'Max value:',dataName:'max'},
        {value:1,text:'Step value:',dataName:'step'},
        {value:25,text:'Left value:',dataName:'valueLeft'},
        {value:75,text:'Right value:',dataName:'valueRight'},
      ],
      columnCheckbox = [
        {isChecked:true,text:'Label:',dataName:'isLabel'},
        {isChecked:true,text:'Scale:',dataName:'isScale'},
        {isChecked:true,text:'Double:',dataName:'isDouble'},
        {isChecked:false,text:'Vertical:',dataName:'isVertical'},
      ]
    } = options;


  section.demo-page.js-demo-page 
    div(class="demo-page__head")
      div(class='demo-page__plugin js-demo-page__plugin')

    div(class='demo-page__items')
      div(class='demo-page__item')
        -for(let {value,text,dataName} of columnNumber)
          +data-input({dataName,value,text})
      div(class='demo-page__item')
        -for(let {isChecked,text,dataName,} of columnCheckbox)
          +data-input({dataName,text,isChecked,isCheckbox:true,})
