.range-slider__body {
  position: relative;
  z-index: 1;
  height: 5px;
  margin: 0px 10px;
}

.range-slider__body-track,
.range-slider__body-track-click {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 5px;
  background-color: #c6aee7;
  width: 100%;
}

.range-slider__body-track-click {
  z-index: 4;
  background-color: transparent;
}

.range-slider__body-range {
  position: absolute;
  z-index: 2;
  left: 25%;
  right: 25%;
  top: 0;
  bottom: 0;
  border-radius: 5px;
  background-color: #6200ee;
}

.range-slider__body-thumb-left {
  position: absolute;
  z-index: 3;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #6200ee;
  transform: translate(-10px, -5px);
}

.range-slider__body-thumb-right {
  position: absolute;
  z-index: 1;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #6200ee;
  transform: translate(10px, -5px);
}

.range-slider__input-left,
.range-slider__input-right {
  position: absolute;
  pointer-events: none;
  z-index: 2;
  height: 10px;
  width: 100%;
  -webkit-appearance: none;
  opacity: 0;
}

.range-slider__input-left {
  z-index: 4;
}

input[class="range-slider__input-left"]::-webkit-slider-thumb {
  pointer-events: all;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 0px none;
  background-color: gold;
  -webkit-appearance: none;
}

input[class="range-slider__input-right"]::-webkit-slider-thumb {
  pointer-events: all;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 0px none;
  background-color: red;
  -webkit-appearance: none;
}

.range-slider__body-text-left {
  position: absolute;
  background-color: #6200ee;
  padding: 5px;
  border-radius: 10px;
  top: -30px;
  color: #fff;
  font-size: 10px;
  cursor: pointer;
  transform: translate(-10px, -5px);
  z-index: 3;
}

.range-slider__body-text-right {
  position: absolute;
  background-color: #6200ee;
  padding: 5px;
  border-radius: 10px;
  top: -30px;
  color: #fff;
  font-size: 10px;
}

.range-slider__scale {
  position: absolute;
  left: 0px;
  width: 100%;
  font-size: 10px;

  :nth-child(2) {
    left: 23%;
  }

  :nth-child(3) {
    left: 48%;
  }

  :nth-child(4) {
    left: 73%;
  }

  :nth-child(5) {
    left: 97%;
  }
}

.range-slider__scale-item {
  position: absolute;
  top: 20px;
  cursor: pointer;
}
